@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@300;400&family=Playfair+Display:wght@400;700&display=swap');

$headerFont: 'Playfair Display', serif;
$secondaryFont: 'Inter', sans-serif;
$contentFont: 'Lato', sans-serif;


$primaryBlack: #292929;
$primaryGrey: #757575;
$paleGrey: #f2f2f2;
$midGrey: #C4C4C4;
$darkerGrey: #828282;