@import './abstracts/variables';
@import './abstracts/typography';
@import './base/resets';
@import './components/buttons';
@import './layout/navbar';

/* 
    Name: Haven
    Author: Jake Wood
    Version: 1.0.0
*/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 0 auto;
}